body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url('AI_DOC copy\Images\background.jpg');
    background-size: cover;
    background-position: center;
}

#login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.social-button {
    display: flex;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 28%;
    color: #fff;
    border: 1px solid #09480b;
    background-color: #4caf50;
    border-radius: 4px;
    cursor: pointer;
}
/* 
.social-buttons {

    padding: 6px;
    margin-top: 25px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

} */